**DATA TYPES AND STRUCTURE QUESTIONS**

# 1.What are data structures, and why are they important?
ANS=Data structures are ways to store and organize data for efficient access and modification.
They are crucial for writing efficient programs, improving performance in tasks like searching, sorting, and managing large datasets.

# 2.Explain the difference between mutable and immutable data types with examples.
ANS=Mutable types (e.g., list, dict) can be changed after creation.
Immutable types (e.g., int, str, tuple) cannot be modified once created.
Example: my_list[0] = 10 is valid; my_tuple[0] = 10 causes an error.

# 3.What are the main differences between lists and tuples in Python?
ANS=Lists are mutable and can be modified, while tuples are immutable.
Lists use more memory and are slower but flexible; tuples are faster and safer for fixed data.

# 4.Describe how dictionaries store data.
ANS=Dictionaries store data as key-value pairs.
Each key must be unique, and values are accessed using the keys, not indexes.

# 5.Why might you use a set instead of a list in Python?
ANS=Sets automatically remove duplicates and provide faster membership checks.
They're useful when uniqueness and fast lookup are more important than order.

# 6.What is a string in Python, and how is it different from a list?
ANS=A string is an immutable sequence of characters.
Unlike lists, strings cannot be changed in-place, and only support read operations.

# 7.How do tuples ensure data integrity in Python?
ANS=Tuples are immutable, so their content cannot be changed after creation.
This makes them reliable for storing fixed or constant data.

# 8.What is a hash table, and how does it relate to dictionaries in Python?
ANS=A hash table stores data using a hash function to compute key indexes.
Python dictionaries are built on hash tables, enabling fast lookups.

# 9.Can lists contain different data types in Python?
ANS=Yes, lists can hold elements of mixed types (e.g., [1, "text", 3.5]).
This makes them flexible for storing various kinds of data together.

# 10.Explain why strings are immutable in Python.
ANS=Strings are immutable for memory efficiency and security.
Each modification creates a new string, ensuring old values remain unchanged.

# 11.What advantages do dictionaries offer over lists for certain tasks?
ANS=Dictionaries allow fast key-based access, which is more efficient than searching a list.
They're ideal for lookups, configurations, and mapping data.

# 12.Describe a scenario where using a tuple would be preferable over a list.
ANS=Tuples are preferable when data must not change, like storing coordinates (x, y) or database keys.
They are also faster and can be used as dictionary keys.

# 13.How do sets handle duplicate values in Python?
ANS=Sets automatically discard duplicate values.
If you add duplicates to a set, only one instance is kept.

# 14.How does the “in” keyword work differently for lists and dictionaries?
ANS=In lists, in checks if a value exists in the elements.
In dictionaries, in checks for presence of a key, not a value.

# 15.Can you modify the elements of a tuple? Explain why or why not.
ANS=No, tuples are immutable, so their elements can't be changed.
This behavior ensures consistency and makes them hashable.

# 16.What is a nested dictionary, and give an example of its use case.
ANS=A nested dictionary is a dictionary within another dictionary.
Example: student = {'name': 'Ali', 'marks': {'math': 90, 'science': 85}}.

# 17.Describe the time complexity of accessing elements in a dictionary.**bold text**
ANS=Accessing elements in a dictionary is on average O(1).
This constant-time lookup is due to its underlying hash table implementation.

# 18.In what situations are lists preferred over dictionaries?
ANS=Lists are better when order matters or when data doesn't need key-based access.
They're suitable for sequences, iteration, and ordered data storage.

# 19.Why are dictionaries considered unordered, and how does that affect data retrieval?
ANS=Traditionally, dictionaries didn't maintain order, though Python 3.7+ preserves insertion order.
Retrieval is still based on keys, not order, so indexing like lists isn’t possible.

# 2O.Explain the difference between a list and a dictionary in terms of data retrieval.
ANS=Lists use integer indexes to access items, while dictionaries use keys.
List access is position-based; dictionary access is key-based and usually faster.

**PRACTICAL QUESTIONS**

# 1.Write a code to create a string with your name and print it

In [2]:
my_name = "sagar sidhu"
print(my_name)

sagar sidhu

# 2.Write a code to find the length of the string "Hello World"

In [3]:
length = len("Hello World")
print(length)

11

# 3.Write a code to slice the first 3 characters from the string "Python Programming"

In [4]:
sliced = "Python Programming"[:3]
print(sliced)

Pyt

# 4.Write a code to convert the string "hello" to uppercase

In [5]:
uppercase = "hello".upper()
print(uppercase)

HELLO

# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [6]:
replaced = "I like apple".replace("apple", "orange")
print(replaced)

I like orange

# 6.Write a code to create a list with numbers 1 to 5 and print it

In [7]:
num_list = [1, 2, 3, 4, 5]
print(num_list)

[1, 2, 3, 4, 5]

# 7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [8]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [9]:
list_to_modify = [1, 2, 3, 4, 5]
list_to_modify.remove(3)
print(list_to_modify)

[1, 2, 4, 5]

# 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [10]:
second_element = ['a', 'b', 'c', 'd'][1]
print(second_element)

b

# 10.Write a code to reverse the list [10, 20, 30, 40, 50]

In [11]:
original_list = [10, 20, 30, 40, 50]
reversed_list = original_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

# 11.Write a code to create a tuple with the elements 100, 200, 300 and print it

In [12]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

# 12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [13]:
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print(second_last)

blue

# 13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [14]:
numbers = (10, 20, 5, 15)
minimum = min(numbers)
print(minimum)

5

# 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [15]:
animals = ('dog', 'cat', 'rabbit')
cat_index = animals.index("cat")
print(cat_index)

1

# 15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [16]:
fruits = ('apple', 'banana', 'cherry')
has_kiwi = "kiwi" in fruits
print(has_kiwi)

False

# 16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [17]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

# 17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [18]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

# 18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [19]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

# 19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [20]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

# 20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [21]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection = set1.intersection(set2)
print(intersection)

{2, 3}

# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [22]:
person = {"name": "John", "age": 30, "city": "New York"}
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

# 22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [23]:
person = {'name': 'John', 'age': 25}
person['country'] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

# 23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [24]:
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

# 24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [25]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

# 25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [26]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

# 26.Write a code to create a list, a tuple, and a dictionary, and print them all

In [27]:
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {"x": 10, "y": 20}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
('a', 'b', 'c')
{'x': 10, 'y': 20}

# 27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [28]:
import random
random_list = random.sample(range(1, 101), 5)
random_list.sort()
print(random_list)

[6, 7, 21, 48, 76]

# 28.Write a code to create a list with strings and print the element at the third index

In [29]:
string_list = ["apple", "banana", "cherry", "date", "fig"]
print(string_list[3])

date

# 29.Write a code to combine two dictionaries into one and print the result.

In [30]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# 30.Write a code to convert a list of strings into a set.

In [31]:
string_list = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list)
print(string_set)

{'banana', 'cherry', 'apple'}